{{partial "head.html" . }}


<div class="eis-container">
{{partial "header.html" . }}


<!--     {{if .Params.image }}
  <span class="eis-featured-image" style="background-image: url({{ .Params.image }})"></span>
    {{end}}
 -->

<article class="eis-article {{if not .Params.image }}no-image{{end}}">
  <header>

      <span class="eis-date">{{ .Date.Format "January 2, 2006" }}</span>
      <h1>{{.Title}}</h1>
      {{partial "post-categs.html" . }}
  
  </header>

  <div class="eis-text">
    
    <!-- <img src=" {{ .Params.image }}" alt="imagem decorativa"> -->

    {{.Content}}

  </div>

    <div class="eis-end-post">

      {{partial "newsletter-embed.html"}}

      
      <!-- <div class="gm-substack">
        <iframe class="eis-newsletter-box" src="https://diegoeis.substack.com/embed" style="width: 100%; height: 250PX; margin: 50px 0 0; background:white;" frameborder="0" scrolling="no"></iframe>
      </div> -->
      <div class="eis-banner-book">
        <a href="https://gestaomodernaprodutosdigitais.com/?utm_source=blog-diegoeis&utm_medium=banner&utm_campaign=book_gestao"><img src="/images/banner.png" data-clicked="eis-single-book"></a>
      </div>
    </div>

      {{ $related := .Site.RegularPages.Related . | first 3}} {{ with $related }}
    <div class="eis-related-posts">

        <h2>Leia também aqui no blog:</h2>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}?utm_source=eisRelatedLink" data-clicked="eis-related-link">{{ .Title }}</a></li>
          {{ end }}
        </ul>

      </div>
      {{ end }}

  <div class="eis-comments">
    <div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.gc_params = {
    graphcomment_id: 'diegoeiscom',

    // if your website has a fixed header, indicate it's height in pixels
    fixed_header_height: 0,
  };

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>
    
  </div>

  <!-- <div class="eis-comments" id="eis-comments">

    <script>
    var idcomments_acct = 'eb5d596a249484b9b0c0d5c8e1cf058b';
    var idcomments_post_id;
    var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

  </div> -->
</article>
</div>

{{partial "footer.html" . }}

