<footer class="eis-footer">
  {{ now.Format "2006"}} - Diego Eis <br> <a href="https://twitter.com/diegoeis" title="Meu perfil no Twitter" alt="Link do perfil no Twitter">Twitter</a>, <a href="https://www.linkedin.com/in/diegoeis/" title="Meu perfil no Linkedin" alt="link do perfil no Linkedin">Linkedin</a>, <a href="http://feeds.feedburner.com/diegoeiscom" title="cadastre meu Feed RSS" alt="RSS Feed">Feed</a>
</footer>

<script type="text/javascript">
  
  (function (){
    'use strict';
  
  
    function init(){
      checkDarkMode();
      switchDarkMode();
    }

    const dmbtn = document.querySelector('#eis-dark-btn');

    function switchDarkMode() {
      dmbtn.addEventListener('click', () => {
        if (document.documentElement.getAttribute('data-darkmode') === 'true') {
          document.documentElement.setAttribute('data-darkmode', 'false')
          dmbtn.textContent = "dark on"
          localStorage.removeItem('darkmode')
        } else {
          document.documentElement.setAttribute('data-darkmode', 'true')
          dmbtn.textContent = "dark off"
          localStorage.setItem('darkmode','true')
        }
      });
    }

    function checkDarkMode() {
      if(localStorage.getItem("darkmode") != null) {
        document.documentElement.setAttribute('data-darkmode', 'true')
        dmbtn.textContent = "dark off"
      }
    }

    init()
  }());

</script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5RQBQLQ');</script>
  <!-- End Google Tag Manager -->

</body>
</html>