<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " pt-br " }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<head>
  <link rel="icon" href="{{ .Site.BaseURL}}/images/favicon.ico">

  <link rel="stylesheet" href="{{ .Site.BaseURL}}all.css?{{ now.Unix }}">
  
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400|Open+Sans:400,700" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/diegoeiscom" title="{{ .Site.Title }}">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5RQBQLQ');</script>
  <!-- End Google Tag Manager -->

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:type" content="website">
  {{- else -}}
  <title>{{ .Title }} - {{ .Site.Title }}</title>

  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5cefc9317feea60012093e3c&product=sticky-share-buttons' async='async'></script>

  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
  <meta property="og:type" content="article">
  {{- end }}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta name="description" content="{{ with .Params.excerpt }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
  {{ end -}}

  <meta name="author" content="{{ .Site.Params.author }}">

  {{ if $.Scratch.Get "single"}}
  <meta property="og:type" content="article"> 
  {{end}}
  
  <meta property="og:title" content="{{ .Title}}">
  <meta property="og:description" content="{{ with .Params.excerpt }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" name="description">
  <meta property="og:image" content="{{ with .Params.image }}{{ . }}{{ else }}https://images.pexels.com/photos/1089663/pexels-photo-1089663.jpeg?cs=srgb&dl=arid-automobile-barren-1089663.jpg&fm=jpg{{ end }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@diegoeis">
  <meta name="twitter:title" content="{{.Title}}">
  <meta name="twitter:description" content="{{ with .Params.excerpt }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="twitter:image" content="{{ with .Params.image }}{{ . }}{{ else }}https://images.pexels.com/photos/1089663/pexels-photo-1089663.jpeg?cs=srgb&dl=arid-automobile-barren-1089663.jpg&fm=jpg{{ end }}">

</head>

<body class='Type-is-{{ .Type }} Kind-is-{{ .Kind }} Section-is-{{ .Section }}'>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RQBQLQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->


<header id="eis-header">
  <a href="/" class="eis-logo">Diego Eis</a>
  <ul class="eis-menu">
    <li><a href="/about-me" class="eis-link-about" data-clicked="lnk-about-me">Sobre mim</a></li>
    <li>
      <a href="http://twitter.com/diegoeis/" data-clicked="lnk-twitter" class="eis-twitter">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg></a>
    </li>
    <!-- <li>
      <a href="https://medium.com/@diegoeis" class="de-medium" data-clicked="lnk-medium">
        <svg class="svgIcon-use" height="45" viewBox="0 0 45 45">
          <path d="M5 40V5h35v35H5zm8.56-12.627c0 .555-.027.687-.318 1.03l-2.457 2.985v.396h6.974v-.396l-2.456-2.985c-.291-.343-.344-.502-.344-1.03V18.42l6.127 13.364h.714l5.256-13.364v10.644c0 .29 0 .342-.185.528l-1.848 1.796v.396h9.19v-.396l-1.822-1.796c-.184-.186-.21-.238-.21-.528V15.937c0-.291.026-.344.21-.528l1.823-1.797v-.396h-6.471l-4.622 11.542-5.203-11.542h-6.79v.396l2.14 2.64c.239.292.291.37.291.768v10.353z"></path>
        </svg>
      </a>
    </li> -->
    <li>
      <a href="https://www.linkedin.com/in/diegoeis/" class="eis-linkedin" data-clicked="lnk-linkedin">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>
      </a>
    </li><li>
      <a href="http://feeds.feedburner.com/diegoeiscom" class="eis-feed" data-clicked="lnk-feed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795.001 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"/></svg></a>
    </li>
    <li><span data-clicked="btn-darkmode" class="eis-dark-btn">dark on</span></li>
  </ul>
</header>
