<div id="eis-news-box">
      <iframe src="https://diegoeis.substack.com/embed" height="250" style="width: 100%; margin-bottom: 20px; border:none; background:white;" frameborder="0" scrolling="no"></iframe>
<!--  <h3>Eis a Newsletter</h3>
  <p>São mais de 600 assinantes. <br> Uma newsletter sobre tecnologia, gestão de produtos digitais, livros, artigos e o cotidiano (o meu ou o seu)... :-)</p>
  
 <div id="revue-embed">

  <form action="https://www.getrevue.co/profile/diegoeis/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
    <label for="member_email">Email address</label>
    <input class="revue-form-field" placeholder="Seu melhor e-mail..." type="email" name="member[email]" id="member_email">

    <input type="submit" value="Assinar" name="member[subscribe]" id="member_submit">
  </form>
</div> -->
</div>
