<div id="eis-news-box">
  <h3>Eis a Newsletter</h3>
  <p>São mais de 600 assinantes. <br> Uma newsletter sobre tecnologia, gestão de produtos digitais, livros, artigos e o cotidiano (o meu ou o seu)... :-)</p>
  
<!--Start of PingBack Script-->
<script type="text/javascript">
  window.pingbackEmbeder={embeds:[0,1,2],channelSlug:'diegoeis'};
  var PingBackAPI=PingBackAPI||{}, PingBack_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://pingback.com/embeder.js';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of PingBack Script-->
</div>
