
{{partial "head.html" . }}

<main class="de-main">

  {{partial "header.html"}}

  <section class="de-minibio">
    <h1>Mini<br> Bio</h1>

    <p>Eu me chamo Diego Eis e atualmente sou Product Manager na Easynvest. Antes eu era Coordenador de Times de Produtos Digitais na Locaweb. Mas comecei minha carreira como desenvolvedor front-end. Em 2003 fundei um blog chamado Tableless, que tinha como objetivo disseminar os Padrões Web no Brasil.</p>
    <p><i>Long bio:</i> comecei minha carreira como desenvolvedor front-end. Em 2003 criei o Tableless, que inicialmente era um blog pessoal para publicar meus estudos sobre front-end, mas logo virou um site onde vários autores publicam seus artigos sobre os mais variados assuntos relacionados ao desenvolvimento web. Em 2006 abri minha própria empresa fazendo projetos e treinamentos para empresas como Whirlpool, Globo.com, Samsung, Nokia, HSBC, Accenture e várias outras. </p>
    <p>Em 2012 comecei na Locaweb como estrurando a área de Front-end, que até então era inexistente na empresa. Logo depois assumi a liderança de dois times de produtos na própria Locaweb. </p>
    <p>Em 2017, me tornei Product Manager na Easynvest, sendo responsável pela experiência de compra e escolha de produtos de investimentos nas plataformas mobile e desktop.</p>
    <p>Tenho dois livros publicados pela editora Casa do Código: <a herf="https://www.casadocodigo.com.br/products/livro-guia-frontend" data-clicked="lnk-livro-guia-frontend">Guia Front-end</a> e <a href="https://www.casadocodigo.com.br/products/livro-web-semantica" data-clicked="lnk-livro-introducao-frontend">Introdução à Web Semântica</a>. Além de ser co-autor
    de mais um chamado <a href="https://www.casadocodigo.com.br/products/livro-coletanea-front-end" data-clicked="lnk-livro-coletanea-frontend">Coletânia Front-end</a>. Eu também fiz revisões da versão brasileira dos livros:</p>
    <ul>
      <li>Aprendendo Web Design da Jennifer Niederst Robbins, da editora O'Reilly e Bookman.</li>
      <li>Smashing Wordpress do Thord Daniel Hedengren, da editora Willey e Bookman.</li>
      <li>Smashing HTML5 do Bill Sanders, da editora Willey e Bookman.</li>
      <li>Smashing CSS do Eric A. Meyer, da editora Willey e Bookman.</li>
      <li>A Arte e a Ciência da CSS do Cameron Adams e outros autores, da editora Sitepoint e Bookman.</li>
    </ul>
    <p>Faço <a href="https://www.slideshare.net/diegoeis" class="de-slideshare-lnk" data-clicked="lnk-slideshare">palestras</a> pelo Brasil desde muito tempo, já falando em eventos como QCon, Brazil JS, The Dev Conf.</p>

    <p>Mantenho um <a href="http://gestaodeprodutos.com" data-clicked="lnk-site-gestaoprodutos">site sobre Gestão de Produto</a>, onde vários autores escrevem sobre gestão de produtos de software.</p>

  </section>
  
  <section class="de-list-post">
    <h1>Artigos e <br>Posts</h1>

    <ul>
    {{ range .Data.Pages}}
      <li><a href="{{.Permalink}}" class="de-post-lnk">{{.Title}}</a></li>
    {{end}}
    </ul>
  </section>

</main>

{{partial "footer.html"}}