
{{partial "head.html" . }}

<div class="eis-container">
  
{{partial "header.html" . }}


  <div class="eis-section">
    
    <!-- <img src=" {{ .Params.image }}" alt="imagem decorativa"> -->

    <h1>{{.Title}}</h1>
    {{.Content}}

  </div>


<ul class="eis-list-post">
{{ range after 1 (where .Site.Pages "Type" "post")}}
  <li>
    <a href="{{.Permalink}}" class="eis-post-lnk" data-clicked="lnk-post-list">
      <span class="eis-date">{{ .Date.Format "January 2, 2006" }}</span>
      <h1>{{.Title}}</h1>
    </a>
  </li>
{{end}}
</ul>

  
{{partial "footer.html" . }}

</div>
