<!doctype html>
<html class="<%= page_classes %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <title>Diego Eis <%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'style' %>
</head>
<body>

<header class="de-header">
  <!-- <div class="de-menu">
    <span class="de-sandwich">☰ Menu</span>

  </div> -->
  <h1 class="de-logo"><a href="/"><strong>diegoeis</strong>.com</a></h1>
  <a href="http://feeds.feedburner.com/diegoeisfeed" class="de-ico-rss">RSS</a>
  <a href="http://twitter.com/diegoeis" class="de-ico-twitter">@diegoeis</a>
</header>
