@import "helpers"

*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

.home-template
  background: #F4F4F4

body
  font: 100% Lato, Times New Roman, Georgia
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  border-left: 10px solid $yellow
  transition: transform .20s ease-in

.de-header
  padding: 3% 8%

  &:after
    content: ""
    display: block
    clear: both

  .de-logo
    font-size: 1rem
    font-weight: 400
    float: right

    a
      color: #000
      text-decoration: none

    span
      font-weight: 300

.de-sandwich
  padding: 15px 20px
  transition: background .18s linear
  cursor: pointer
  font-size: .9rem
  border: 1px solid rgba(0, 0, 0, .05)

  &.de-sidebar-visible
    border-radius: 3px 3px 0 0
    border-color: transparent
    position: relative
    z-index: 11
    background: $yellow
    border-bottom: 0


.de-menu
  position: relative

  &.de-sidebar-visible .nav
    z-index: 11
    opacity: 1

  .nav
    transition: all .20s linear
    opacity: 0
    position: absolute
    top: 14px
    z-index: -1
    padding: 10px
    width: $sidebar-width
    border-radius: 0 3px 3px 3px
    background: $yellow

  li
    list-style: none
    border-bottom: 1px solid rgba(0, 0, 0, .1)

    &:last-child
      border-bottom: none

  .nav-current a
    background: rgba(255, 255, 255, 1)

  a
    padding: 10px 20px
    display: block
    color: #000
    font-size: 1rem
    text-decoration: none

    &:hover,
    li.nav-current a:hover
      background: rgba(255, 255, 255, .8)

.de-hr
  border: none
  border-top: 1px solid #F6F6F6
  background: none
  margin: 20px 0

p
  color: #333
  text-align: left
  font-weight: 400
  font-size: .9rem
  line-height: 1.7
  margin-bottom: 30px

.de-wrapper
  padding: 5% 8%
  max-width: 1100px

  .home-template &
    max-width: 1700px

time
  color: #000
  display: inline-block
  padding-top: 30px

.de-posts-list
  display: flex
  flex-wrap: wrap

.de-post-box
  flex: 1 0 300px
  background: #fff
  margin-right: 2%
  margin-bottom: 2%
  position: relative
  transition: background .10s linear

  &:hover
    background: $yellow

    h2:after
      border-color: #fff

  a
    text-decoration: none
    padding: 10%
    display: block

  h2
    display: block
    color: #333
    line-height: 1.5
    font-size: 1.7rem

    &:after
      content: ""
      display: block
      height: 1px
      border-top: 2px solid #DDD
      width: 100px
      margin: 15% 0

  p
    font-size: 1rem
    line-height: 1.7
    margin-bottom: 0

////
// POST
////
.de-post-title
  color: #333
  font-weight: 700
  font-size: 2rem

article
  max-width: 700px

  h2
    font-size: 2rem

  h3
    font-size: 1.5rem

  h2, h3, h4, h5, h6
    margin: 30px 0 15px

  p > code
    padding: 2px 4px
    color: #c7254e
    background-color: #f9f2f4
    white-space: wrap
    border-radius: 4px
    font-size: 17px

  pre code
    white-space: wrap
    overflow: auto
    display: block
    background: #f4f4f4
    border: 1px solid #ccc
    border-radius: 5px
    margin-bottom: 15px
    padding: 20px

  header
    margin-bottom: 10%

    &:after
      content: ""
      display: block
      height: 1px
      border-top: 1px solid #DDD
      width: 100px
      margin-top: 10%

    time
      display: block
      padding-bottom: 50px

  .de-excerpt
    font-size: 1.4rem
    font-weight: 400

  > p
    color: #333
    text-align: left
    font-weight: 400
    font-size: 1rem
    line-height: 1.7
    margin-bottom: 30px

  img
    max-width: 100%

  li
    list-style-position: inside
    font-size: 1.1rem
    padding-bottom: 10px
    color: #333

@media (min-width: 1000px)
  body
    border-left-width: 20px

  .de-post-box
    flex: 0 0 32%

    &:nth-child(3n)
      margin-right: 0

    a
      padding: 15%

  .de-post-title
    font-size: 3.5rem

  article
    h2
      font-size: 2rem

    h3
      font-size: 1.5rem

    > p
      font-size: 1.2rem
