:root {
  --colorBlue: #3A37FF;
  --colorGray: #4A4A4A;
  --colorBlackGray: #505050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% Roboto, Arial, Helvetica, Sans-serif;
  padding: 70px 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

.de-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 120px;
}

.de-header a {
  color: var(--colorBlue);
  text-decoration: none;
  flex: 1;
  font-size: 1.25rem;
  font-weight: 300;
}

.de-logo {text-align: left;}
.de-lnk-back {text-align: right;}

.de-main {
  display: flex;
  flex-wrap: wrap;
}

.de-minibio,
.de-list-post {
  flex: 1;
}

.de-minibio {
  max-width: 500px;
  margin-right: 200px;
}

.de-list-post {
  color: var(--colorGray);
  max-width: 580px;
}

.de-list-post ul {
  list-style: none;
}

.de-list-post a {
  color: var(--colorGray);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: -0.82px;
  padding: 29px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: block;
}

.de-list-post a:hover {
  color: var(--colorBlue);
}

p, article ul li {
  font-size: .87rem;
  color: var(--colorGray);
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 23px;
}

h1 {
  margin-bottom: 30px;
  font-size: 4.37rem;
  font-weight: 900;
  color: var(--colorBlue);
  letter-spacing: 1.36px;
  line-height: 60px;
  text-transform: uppercase;
}

article {
  max-width: 700px;
}

article h1 {
  font-size: 3rem;
  color: var(--colorBlue);
}

article img {
  max-width: 800px;
}

article ul {
  list-style-position: inside;
  margin-bottom: 25px;
}

article ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}


@media screen and (max-width: 800px) {
  body {
    padding: 20px;
  }

  .de-header {
    padding-bottom: 60px;
  }
  
  .de-main {
    display: block;
  }


  .de-minibio,
  .de-list-post {
    width: 100%;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 3.37rem;
    margin-bottom: 15px;
  }

  article h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  
}