/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');*/

@import url(header.css?3);
@import url(home.css?3);
@import url(single.css?3);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-size: 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background: #F5F5F5;
}

:root {
  /*--serif: "Crimson Text", "Cormorant Garamond", Georgia, Times, Serif;
  --sans-serif: Nunito Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Open Sans, Arial, Helvetica, sans-serif;*/
  --yellow: #f9da18;
  --yellowContrast: #0008FF;
  --yellowLight: #FFF090;
  --black: #484848;
  --spaceDefault: 12%;
  --linkHover: #DCBC1E;
}

.eis-container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

body > .eis-container {
  margin: 0 auto;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.05);
}

a {
  transition: color linear .10s;
  color: var(--yellowContrast);
}
a:hover {color: var(--linkHover); text-decoration: none;}

.eis-overlay {
  position: absolute;
  top:  0;
  left:  0;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity linear .08s;
  pointer-events: none;
}

.eis-menu-on .eis-overlay {opacity:  1; pointer-events: initial;}


.eis-btn {
  background: #000;
  text-align: center;
  display: inline-block;
  color:  #fff;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid #000;
}

.eis-btn:hover {
  background:  #fff;
  color:  #000;
}

.eis-newsbox {
	background:  url(../images/v4/bg-newsbox.jpg);
	padding: 50px var(--spaceDefault);
}

.eis-last-post {
  padding:  100px 0;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom:  1px solid rgba(0,0,0,.15);
}

.eis-last-post  a {color: black; text-decoration: none;}
.eis-last-post h1 {
    margin:  0 auto;
  max-width: 800px;
}
.eis-last-post h1 a {
  text-decoration: none;
  color: #000;

  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  padding: 20px 0;
  display: block;
}

.eis-last-post a:hover {
  color: var(--linkHover) !important;
}

/*******
 * BLOG LIST
*******/
.eis-list-post {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin:  50px 0;
}  

.eis-list-post li {
  flex:  1 260px;
  width:  100%;
  margin: 10px 30px 20px 0;
  border:  1px solid rgba(0, 0, 0, .5);
  border-radius: 3px;
  max-width:  380px;
  min-height: 230px;
}

.eis-list-post li a:link {
  height: 100%;
  padding: 20px;
  color:  rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  transition: background linear .10s;
}

.eis-list-post li a:hover {background: #000; border-color: #000;}
.eis-list-post li a:hover * {color: #FFF;}

.eis-list-post li a:visited {
  color: gray; 
  text-decoration: underline !important;
}


.eis-list-post li a h1 {font-size: 1.5rem;}

.eis-container-inner-list {padding: 0 var(--spaceDefault);}
.eis-section-title {padding: 0 0 50px;}


.sobre-mim .eis-post-header > div {display: none;}


ul.eis-books-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.eis-books-list li {
  flex: 1 0 150px;
  padding: 20px;
  list-style-type: none;
}
.eis-books-list li p {
  font-size: .9rem;
  margin-top: 5px;
}

.eis-books-list a {
  text-decoration: none;
  color: #000;
}

.eis-books-list a:hover h3 {
  color: var(--yellow);
}

.eis-lnk-categslist {
  float: right;
  color: #000;
  margin-right: 30px;
}

.eis-tags-list {
  text-align: center;
  padding: 100px 0;
  max-width: 1000px;
  margin:  0 auto;
}
.eis-tags-list h3 {
  font-size: 2rem;
  padding:  0 0 20px;
}
.eis-tags-list li {
  display: inline-block;
  list-style: none;
  padding: 0 20px 0 0;
}

.eis-tags-list a {
  color: #000;
  display: inline-block;
  padding: 5px 0;
  font-size: 1.5rem;
}

.eis-tags-list a:hover {
  background: var(--yellow);
}

.blog .eis-tags-list {
  max-width: 100%;
  padding: 100px 0 0;
  text-align: left;
}
.blog .eis-tags-list h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.blog .eis-tags-list a {
  font-size: 1rem;
}

/*******
 * Book Section
*******/
.eis-book-section {
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom:  1px solid rgba(0,0,0,.15);
  padding: 100px 0;
}

.eis-book-child {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spaceDefault);
  align-items: center;
}

.eis-book-child div {
  flex: 1 300px;
}

.eis-book-child div:first-child {
  text-align: center;
}

.eis-book-child h2 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1;

  color: #000;
}

.eis-book-child h2 a {color: #000; text-decoration: none;}
.eis-book-child h2 a:hover {color: var(--yellow); text-decoration: none;}

.eis-book-child img:hover {
  transform: rotate(-3deg);
}

.eis-book-child p {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  padding:  30px 0;
  color: #3F3F3F;
  width: 90%;
}


.book-section img {
  max-width: 300px;
}




/*******
 * FOOTER
*******/

.eis-footer {
  padding:  50px;
  margin: 100px 0 0;
  font-weight: bold;
}
.eis-footer a {font-weight: normal;}


.eis-section {
  padding:  0 var(--spaceDefault) 100px;
}

.eis-section h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}


.eis-other-posts {
  display: flex;
  padding:  150px var(--spaceDefault) 50px;
}

.eis-other-posts a {
  flex: 1;
  text-align: left;
  margin:  0 10px;
}

.eis-other-posts a:hover:before {background: var(--yellow);}
.eis-other-posts a:hover {
  text-decoration: underline;
}

.eis-other-posts a:before {
  content:  "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #000;
}

.eis-other-posts a h2 {
  margin:  15px 0;
  padding-right: 20px;
}


@media screen and (max-width: 700px) {

  :root {
    --spaceDefault: 7%;
  }

  body {
    padding: 0;
  }

  .book-section img {
    max-width: 100%;
  }

  .eis-book-child {
    text-align: center;
  }

  .eis-book-child h2 {
    font-size: 25px;
  }

  .eis-section h1 {
    font-size: 2rem;
  }

  .eis-section-title {
    padding-bottom: 0;
    padding-top: 15px;
  }

  .eis-list-post li {
    min-height: 180px;
    margin-right: 0;
  }

  .eis-lnk-categslist {
    float: none;
    padding-bottom: 30px;
    display: inline-block;
  }


  .eis-tags-list li {
      display: block;
  }
}