@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Cormorant+Garamond:wght@400;600;700&family=Nunito+Sans:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background: #F9F9F9;
  padding: 50px;
}

:root {
  --serif: "Crimson Text", "Cormorant Garamond", Georgia, Times, Serif;
  --sans-serif: Nunito Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Open Sans, Arial, Helvetica, sans-serif;
  --yellow: #f9da18;
  --yellowContrast: #0008FF;
  --yellowLight: #FFF090;
  --black: #484848;
}