@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background: #F9F9F9;
  padding: 50px;
}

:root {
  --serif: "Cormorant Garamond", Georgia, Times, Serif;
  --sans-serif: Nunito Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Open Sans, Arial, Helvetica, sans-serif;
  --yellow: #f9da18;
  --yellowContrast: #0008FF;
  --black: #484848;
}

.eis-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 150px 100px;
  background: #fff;
  box-shadow: 0 7px 7px -2px rgba(0,0,0,.5);
}

@media screen and (max-width: 950px) {
  body {
    padding: 20px;
    background: #FFF;
  }
  .eis-container {
    margin: 0;
    padding: 20px;
    width: auto;
    box-shadow: none;
  }
}
.sobre-mim header {
  display: none;
}

.eis-newsletter-box {
  position: sticky;
  top: 0;
  right: 50px;
}

/***
  HEADER 
***/

#eis-header {
  display: flex;
  padding: 100px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

#eis-header nav {
  display: flex;
  flex-direction: column;
}

.eis-menu li, .eis-social li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

.eis-menu li:first-child {
  /*margin-right: 20px*/
}

.eis-menu a {
  font: 700 .90rem var(--sans-serif);
  text-decoration: none;
  color: #000;
}

.eis-social {
  text-align: right;
  margin: -45px 0 25px;
}
.eis-social a:hover {box-shadow: none;}

.eis-social li img,
.eis-social li svg {
  height: 17px;
  width: 17px;
  vertical-align: middle;
}

.eis-social li .eis-twitter svg {fill: #24A0EF;}
.eis-social li .eis-linkedin svg {fill: #0077B5;}
.eis-social li .eis-feed svg {fill: #DC7936;}

.darkmode .eis-social li .eis-twitter svg,
.darkmode .eis-social li .eis-linkedin svg, 
.darkmode .eis-social li .eis-feed svg {fill: rgba(255, 255, 255, 1);}

.eis-social .eis-twitter {position: relative; right: -6px;}

.eis-logo {
  font: 700 1rem var(--sans-serif);
  color: #000;
  text-decoration: none;
  display: inline-block;
  width: 65px;
  height: 65px;
  background: url(images/avatar-20.png) center no-repeat;
  background-size: cover;
  text-indent: -8888px;
  border-radius: 50%; 
  overflow: hidden;
}


.eis-logo:hover {
  box-shadow: none;
  background-image: url(images/avatar-202.png);
}

.eis-logo:active {
  transform: scale(.9);
}

.eis-logo img {
  max-width: 50px; 
  margin: 0 auto; 
  display: block;
}

#eis-header nav input {
  position: absolute;
  top: -20px;
  left: 0
}

@media screen and (max-width: 950px) {
  #eis-header {
    margin-bottom: 40px;
    padding: 25px 0;
    width: auto;
  }

  .eis-menu-sandwich {
    position: absolute;
    right: 50px;
    top: 60px;
    display: block;
    width: 20px;
    height: 15px;
    cursor: pointer;
    background: url(/images/sandwich.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
  .eis-menu {
    background: white;
    width: 220px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 0;
    text-align: left;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .25);
    padding: 20px 30px;
    display: none;
    border-radius: 10px 0 0 10px;
  }

  .eis-social {
    margin: 15px 0 0;
  }

  #eis-header nav input:checked ~ .eis-menu {
    display: block;
  }

  .eis-menu li:nth-child(5),
  .eis-menu li:nth-child(6),
  .eis-menu li:nth-child(7),
  .eis-menu li:nth-child(8) {
    padding: 20px 0;
    display:inline-block;
  }

  .eis-menu li {
    display: block;
    text-align: left;
    padding: 10px 0;
  }

}

/***
  Default Styles
***/

a {
  color: #000;
  text-decoration: none;
}

a:hover { 
  box-shadow: 
  inset 0 -1px 0 white, inset 0 -8px 0 var(--yellow)
}


p a:hover { 
  box-shadow: 
  inset 0 -1px 0 white, inset 0 -11px 0 var(--yellow)
}

h1 {
  font: 400 3.125rem var(--serif);
  color: #000;
}

h1 a:hover {
  box-shadow: 
    inset 0 -7px 0 white,
    inset 0 -23px 0 var(--yellow);
}

img {
  max-width: 100%;
}

.eis-section-title {
  margin-bottom: 50px;
  font-weight: 400
}

.eis-section-title i {font-weight: 700}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  .eis-avatar-about {
    float: none !important;
    max-width: 100% !important;
  }

}

/*
  Date in posts
*/
.eis-date,
.eis-post-tags li {
  text-transform: uppercase;
  color: var(--black);
  font:  400 .625rem var(--sans-serif);
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: middle;
}

.eis-date {
  font-weight: 600;
}

/*
  Tags in Posts
*/
.eis-post-tags li {
  list-style: none;
  margin-top: -3px;
  padding-right: 5px;
}

.eis-post-tags li a {
  color: var(--black);
}

.eis-post-tags li:after {content: ", "}
.eis-post-tags li:last-child:after {content: "";}

/***
 First Featured Post
***/
.eis-first-post {
  margin: 50px 0 150px;
}

.eis-first-post h1 {
  font: 4rem/1.15 var(--serif);
  max-width: 800px;
  margin: 50px 0;
}

.eis-first-post .eis-date {
  display: inline-block;
  margin: 0 50px 0 0;
}

.eis-first-post .eis-date,
.eis-first-post .eis-post-tags {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 700px) {
  .eis-first-post {
    margin-bottom: 60px;
  }
  .eis-first-post h1 {
    margin-bottom: 50px;
    font-size: 2rem;
  }

  .eis-first-post .eis-date {
    margin-bottom: 0px;
  }
}

.eis-home-sidebar {
  order: 2;
  flex: 1 300px;
  max-width: 300px;
}

.eis-book-home {
  text-align: center;
}

.eis-book-home a {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  transition: linear all .15s;
}

.eis-book-home a:hover {
  box-shadow: none;
  opacity: .6
}

.eis-book-home img {
  margin-bottom: 15px;
  max-width: 300px;
  margin: 0 auto;
}

/*.eis-book-home img:nth-child(2n) {
  max-width: 160px;
  margin: 10px auto 0;
}
*/

img.eis-btn-book {
  max-width: 130px;
  display: inline-block;
  margin: 10px auto;
}


.eis-last-reads {
  padding: 30px 0;
  max-width: 240px;
}

.eis-last-reads .gr_grid_container {
  display: flex;
  flex-wrap: wrap;
}
.eis-last-reads .gr_grid_container div a img {
  transition: all .10s linear;
}
.eis-last-reads .gr_grid_container div a:hover img {
  box-shadow: none;
  transform: scale(1.3);
}
.eis-last-reads .gr_grid_container div {
  flex: 1 50px;
  padding: 1px;
}

.eis-last-reads img {
  max-width: 100%;
  width: 100%;
  height: 100%; 
}

.gr_grid_branding {
  display: inline-block;
  padding-top: 10px;
}


/** 
  List of Posts
**/
.eis-home-container {
  display: flex;
  flex-wrap: wrap;
}

.eis-list-post {
  order: 1;
  flex: 1 300px;
  display: flex;
  flex-flow:  row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.eis-list-post li {
  flex: 1 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: stretch;
  display: flex;
  width: 100%;
}

.eis-list-post li a {
  padding: 25px;
  min-height: 170px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all linear .15s;
  position: relative;
  color: #2F2F2F;
}

.eis-list-post li a:hover {
  box-shadow: none;
  background: var(--yellow) !important;
}

.eis-list-post li a:hover h1 {
  color: rgba(0, 0, 0, .6);
}

.eis-list-post li h1 {
  font: 400 1.4rem var(--serif);
}

.eis-list-post .eis-date {
  font-weight: 400;
  color: var(--black);
  position: absolute;
  top: 20px;
}

@media screen and (max-width: 700px) {
  .eis-list-post li a {
    min-height: 70px;
    width: auto;
  }
  .eis-list-post li {
    margin-right: 0;
    margin-bottom: 10px;
    flex: none;
    display: block;
  }

}

/** 
  Tags List of Home
**/
.eis-tags-list {
  order: 2;
  flex: 1 300px;
  max-width: 300px;
  list-style: none;
  text-transform: uppercase;
  color: var(--black);
  font:  400 .625rem var(--sans-serif);
  letter-spacing: 3px;
}

.eis-tags-list li {margin-bottom: 10px;}
.eis-tags-list a {
  display: inline-block;
  vertical-align: middle;
}

.eis-tags-list:before {
  content: "Tags: ";
}
.eis-tags-list:before,
.eis-home-sidebar h2 a {
  font: 500 1rem var(--sans-serif) !important;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.eis-lastfm {
  height: 180px;
  overflow: hidden; 
}

/*************
*** SINGLE
*************/
.eis-article {
  padding: 0 0 100px;
  margin: 0 auto;
}

.eis-article header {
  text-align: center;
  margin: 0 auto 150px;
  max-width: 1000px;
}

.eis-article header h1 {
  padding: 50px 0;
  margin: 0 auto;
  font-size: 4rem;
 }


.eis-article.no-image {margin-top: 100px;}


.Section-is-pages .eis-post-info {display: none;}



table {
  margin-bottom: 25px !important;
  margin: 0 auto;
  min-width: 450px;
}
table td {
  border-top: 1px solid rgba(0, 0, 0, .3);
}


.eis-text {
  font: 400 .9375rem/1.75 var(--sans-serif);
  max-width: 800px;
  margin: 0 auto;
}

.eis-text ul,
.eis-text ol {
  margin: 0 0 20px 20px;
}

.eis-text p, .eis-text li {
  font: 400 1.6rem/1.4 var(--serif);
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.85);
}

.eis-text li {
  margin-bottom: 13px;
  word-wrap: break-word;
}

.eis-text a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.eis-text a:hover {text-decoration: none;}

.eis-text h1 {
  margin: 40px auto;
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem;
}

.eis-text h1:after {display: none;}

.eis-text h2,  
.eis-text h3,  
.eis-text h4 {
  font-family: var(--sans-serif);
  margin: 40px 0 5px;
}

.eis-text iframe {
  max-width: 100%;
  margin: 0 auto;
}

.eis-text blockquote {
  position: relative;
  border-left: 5px solid black;
  margin-left: 0px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, .05);
  padding: 25px 25px 15px;
  border-radius: 5px;
}

.eis-text blockquote:before,
.eis-text blockquote:after {
  content: '"';
  font: italic 700 10rem/1.2 Sans-Serif;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  color: rgba(0, 0, 0, .08);
}

.eis-text blockquote:after {
  left: auto;
  bottom: 0;
  right: 0;
}

.eis-text blockquote p {
  font: italic 300 1rem/1.8 var(--serif);
  margin: 0 0 10px;
}

.eis-text pre {
  background-color: #263238;
  color: rgba(233, 237, 237, 1);
  font-weight: bold;
  padding: 10px;
  display: block;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: auto;
}

.eis-text pre code{
 color: #fff;
}

.eis-text code {
  font-weight: bold;
  background-color: rgba(0, 0, 0, .05);
  padding: 2px 5px;
  color: #ff0000;
}

.eis-text hr {
  border: none;
  border-bottom: 1px solid #DFDFDF;
  background: transparent;
  display: block;
  margin-bottom: 20px;
}

.eis-featured-image {
  position: absolute;
  top: 130px;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1200px;
  height: 445px;
  display: block;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 700px) {
  .eis-article header {
    margin-bottom: 50px;
  }
  .eis-article header h1 {
    font-size: 2rem;
    margin: 20px auto;
  }
  .eis-article header h1:after {margin-top: 40px;}
  .eis-text p, .eis-text li {font-size: 1.3rem;}

}
/***
* Related Posts at Single
***/
.eis-related-posts {
  padding: 80px 0 50px;
  margin: 50px 0 100px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.eis-related-posts h2 {
  text-align: center;
  font: 700 1.5rem var(--sans-serif);
  padding-bottom: 15px;
}
.eis-related-posts ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.eis-related-posts li {
  flex: 1 0 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.eis-related-posts li a {
  padding: 25px;
  flex: 1;
  font: 400 1.7rem var(--serif);
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  text-align: center;
}
.eis-related-posts li a:hover {
  box-shadow: none;
  background: var(--yellow);
  color: rgba(0, 0, 0, .7);
}



.eis-footer {
  text-align: center;
  padding: 10px;
  margin: 100px 0 25px;
  font: .7rem var(--sans-serif);
  color: var(--black);
}

.eis-footer a {
  text-transform: uppercase;
  color: var(--black);
}

@media screen and (max-width: 700px) {
  .eis-footer {
    display: none;
  }
}


body.meus-livros header h1 {display: none}

ul.eis-books-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.eis-books-list li {
  flex: 1 0 150px;
  padding: 20px;
  list-style-type: none;
}
.eis-books-list li p {
  font-size: .9rem;
  margin-top: 5px;
}

.eis-books-list a {
  text-decoration: none;
}

.eis-books-list a:hover h3 {
  color: var(--yellow);
}

/**********
**** DARK MODE
**********/
/*
.eis-blend {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(255, 255, 255, .9);
  transition: all .8s ease;
  mix-blend-mode: difference;
  outline: 1px solid red;
}

[data-darkmode="true"] .eis-blend {
  transform: scale(50);
}

[data-darkmode="true"] .eis-list-post li a:hover {
  background: var(--yellowContrast) !important;
}

[data-darkmode="true"] .eis-list-post li a:hover h1, 
[data-darkmode="true"] .eis-list-post li a:hover .eis-date {
  color: white;
}

[data-darkmode="true"] a:hover {
  box-shadow: inset 0 -2px 0 var(--yellowContrast);
  color: black;
}*/

@media screen and (max-width: 700px) {
  [data-darkmode="true"] .eis-menu {
    background: rgba(35, 35, 35, 1) !important;
    border: 1px solid rgb(45,45,45)
  }

  [data-darkmode="true"] .eis-menu-sandwich {
    background-image: url(/images/sandwich-white.png)
  }
}

#eis-dark-btn {
  cursor: pointer;
  font: .7rem var(--sans-serif);
  background: rgba(0, 0, 0, .1);
  color: #000;
  padding: 5px 10px;
  border-radius: 15px;
}

[data-darkmode="true"] #eis-dark-btn {
  background: rgba(255, 255, 255, .5);
}

[data-darkmode="true"] {
  background: #121212;
}

[data-darkmode="true"] #eis-header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}


[data-darkmode="true"] .eis-article, 
[data-darkmode="true"] .eis-container, 
[data-darkmode="true"] body {background: #121212;}

[data-darkmode="true"] a, 
[data-darkmode="true"] h1, 
[data-darkmode="true"] p,
[data-darkmode="true"] .eis-date,
[data-darkmode="true"] .eis-post-tags li,
[data-darkmode="true"] .eis-menu a,
[data-darkmode="true"] .eis-logo,
[data-darkmode="true"] .eis-post-tags li a,
[data-darkmode="true"] .eis-tags-list:before,
[data-darkmode="true"] .eis-list-post li a,
[data-darkmode="true"] h2, 
[data-darkmode="true"] h3, 
[data-darkmode="true"] h4, 
[data-darkmode="true"] h5, 
[data-darkmode="true"] h6,
.eis-menu li {
  color: #fff;
}

[data-darkmode="true"] .eis-list-post .eis-date,
[data-darkmode="true"] .eis-post-tags li a,
[data-darkmode="true"] .eis-tags-list a,
[data-darkmode="true"] .eis-text p,
[data-darkmode="true"] .eis-text li,
[data-darkmode="true"] .eis-text blockquote {
  color: #DFDFDF;
}

.eis-list-post li a:hover .eis-date {
  color: #000;
}


[data-darkmode="true"] .eis-list-post li a {
  background: #434343;
}

[data-darkmode="true"] .eis-list-post li a:hover {
  text-decoration: none
}

[data-darkmode="true"] p a,
[data-darkmode="true"] .eis-post-tags li a:hover {
  color: var(--yellow);
}

[data-darkmode="true"] p a:hover {
  background: var(--yellow); 
  color: black;
  text-decoration: none;
}

[data-darkmode="true"] a:hover {
  box-shadow: none;
  color: var(--yellow);
  text-decoration: underline;
}

[data-darkmode="true"] h1 a:hover {
  box-shadow: none;
  color: var(--yellow);
}

[data-darkmode="true"] .eis-article header h1:after {
  background: #fff;
}


