  <section class="eis-book-section">
    <div class="eis-book-child">
      <div>
        <a href="http://gestaomodernaprodutosdigitais.com/?utm_source=diegoeiscom&utm_medium=link&utm_campaign=linkBook" data-clicked="lnk-book-section"><img src="/images/v4/book.jpg"></a>
      </div>
      <div>
        <h2><a href="http://gestaomodernaprodutosdigitais.com/?utm_source=diegoeiscom&utm_medium=link&utm_campaign=linkBook" data-clicked="lnk-book-section">Livro Gestão Moderna de <del>Produtos</del> Serviços Digitais.</a></h2>
        <p>O Produto Digital como um meio de entregar valor para o usuário e para o negócio.</p>
        <a href="http://gestaomodernaprodutosdigitais.com/?utm_source=diegoeiscom&utm_medium=link&utm_campaign=linkBook" data-clicked="lnk-book-section" class="eis-btn">Ver mais</a>
      </div>
    </div>
  </section>