
<header class="eis-header">


  {{ if or (eq .Type "post") (eq .Type "categories") }}
  <h1 class="eis-logo"><a href="/blog">diegoeis.com</a></h1>
  {{else}}
  <h1 class="eis-logo"><a href="/">diegoeis.com</a></h1>
  {{end}}
  <div class="eis-showmenu">
    <nav>
      <li><a href="https://diegoeis.com/newsletter/" class="eis-newsletter-menu" style="">Newsletter</a></li>
     <li><a href="/blog">Blog</a></li>
      <li><a href="/about-me">Sobre</a></li>
      <!-- <li><a href="https://miro.com/app/board/o9J_lf2HMtA=/?invite_link_id=169651101262">Miro para PMs</a></li>
      <li><a href="https://drive.google.com/drive/u/1/folders/16vO-N4DzFBliR6Dso5Cx-sZ9fj8GWBYc">Baú para PMs</a></li> -->
    </nav>
    <span class="eis-sandwich"></span>  
  </div>
</header>
<nav class="eis-menu">
  <ul class="eis-menu-items">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about-me">Sobre</a></li>
    <li><a href="/slides">Slides</a></li>
    <li><a href="/books">Livros</a></li>
    <li><a href="https://bit.ly/miro-pms">Miro para PMs</a></li>
    <li><a href="https://bit.ly/bau-drive-pms">Baú para PMs</a></li>
    <li><a href="https://bit.ly/slides-pms">Slides para PMs</a></li>
  </ul>

  <ul class="eis-menu-support">
    <li>
      <a href="https://diegoeis.substack.com" title="Link a Newsletter" class="eis-news">Newsletter</a>
    </li>
    <li>
      <a href="http://twitter.com/diegoeis/" class="eis-twitter" title="Link para o meu perfil no Twitter">Twitter</a>
    </li>
    <li>
      <a href="https://www.goodreads.com/author/show/14103843.Diego_Eis" class="eis-goodreads" title="Link para o meu GoodReads">Goodreads
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/diegoeis/" data-clicked="lnk-linkedin" title="Link para o meu perfil no Linkedin">Linkedin
      </a>
    </li>
    <li>
      <a href="https://feeds.feedburner.com/diegoeiscom" title="Link o RSS Feed do blog" class="eis-feed">RSS</a>
    </li>

  </ul>
  </nav>
