{{partial "head.html" . }}

<div class="eis-container">
  
{{partial "header.html" . }}

  <section class="eis-intro">
    <div>
      <h1>Diego Eis</h1>
      <h2>Autor, palestrante e gestor de produtos digitais.</h2>
      <p>Opa! Me chamo Diego Eis, trabalho gerindo times e áreas que  constróem e planejam produtos digitais. Passei pela Sympla, Jüssi, NuInvest, Neon e Locaweb. Sou autor do livro chamado [Gestão Moderna de Produtos Digitais](https://gestaomodernaprodutosdigitais.com/). Além disso, faço palestras sobre liderança e gestão de produtos, consultorias e mentoria para pessoas que gerem produtos digitais.</p>
    </div>
    <div>
      <img src="/images/v4/diego.jpg">
      <p>Comecei minha carreira como front-end por volta dos anos 2001, mas logo comecei a empreender fundando uma empresa de construção e consultoria de produtos. Depois de 6 anos, sai para explorar oportunidades coordenando e gerindo produtos digitais e times de empresas como Locaweb, Easynvest, Neon, Jüssi e agora Sympla.</p>
      <br>
      <br>
      <a href="/about-me/" class="eis-btn">Mais sobre mim</a>
    </div>    
  </section>

  {{partial "book-section.html" . }}

  <section class="eis-newsbox">
    <div>

      <iframe src="https://diegoeis.substack.com/embed" height="250" style="width: 100%; border:none; background:white;" frameborder="0" scrolling="no"></iframe>

    </div>
  </section>

  {{partial "blog-section.html" . }}


{{partial "footer.html" . }}

</div>


