////
// Variables
////
$yellow: #f9da18
$black: #333
$sansserif: Roboto, sans-serif
$serif: "PT Serif", Times New Roman, Times, Georgia, Serif
*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  background: #f5f5f5
  font-size: 100%
  font-family: $sansserif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -moz-font-feature-settings: "liga" on
  padding-left: 100px
  height: inherit
  &.Section-is-posts
    background: #fff

p, li
  font-size: 1em

.eis-article .eis-text img.eis-avatar-about
  max-width: 400px
  position: absolute
  right: -500px
  top: 110px

////
// HEADER
////
#eis-header
  padding: 20px 35px

  .eis-link-about
    margin-bottom: 5px
    margin-right: 15px
    transition: all .15s linear
    &:hover
      background: $yellow

.eis-logo
  color: $black
  float: left
  text-decoration: none
  font: 700 1.3em $sansserif
  transition: all .15s linear
  &:hover
    background: $yellow

.eis-list-post
  clear: both
  list-style: none
  padding: 100px 50px 100px 0
  max-width: 1500px
  display: flex
  flex-flow:  row
  flex-wrap: wrap
  align-content: flex-start
  align-items: flex-start

  li
    flex: 1 350px
    margin: 15px
    min-height: 270px
    background: #fff
    align-items: stretch
    display: flex

  a
    flex: 1
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    text-decoration: none
    font: 1em $sansserif
    color: #000
    padding: 60px 50px
    // display: block
    // padding: 45px 50% 45px 35px
    // border-bottom: 1px solid rgba(0, 0, 0, .09)
    transition: all .10s linear

    h1
      display: inline
      font-weight: 200
      color: rgba(0, 0, 0, .7)

    &:hover 
      background: $yellow 

      h1
        display: inline
        color: rgba(0, 0, 0, .7)

      .eis-date
        color: #000


  .eis-date
    display: block
    padding-top: 20px
    transition: all .10s linear

.eis-date 
  font: 400 .8em $sansserif 
  width: 100%
  color: rgba(150, 150, 150, 1)


.eis-menu 
  float: right

.eis-menu li
  list-style: none
  display: inline-block
  vertical-align: middle
  margin-left: 10px
  opacity: 0.8

  & a
    font-weight: bold
    color: #000
    text-decoration: none
    font-size: 1em
    display: inline-block
    margin-left: 5px
    vertical-align: middle

.eis-menu li:hover
  opacity: 1

.eis-menu li a img,
.eis-menu li a svg
  max-height: 20px

.eis-menu li a svg
  max-height: 30px



////
// SINGLE
////

.eis-article
  padding: 0 0 200px 35px
  max-width: 700px

  a
    // box-shadow: inset 0 -1px 0 $yellow
    text-decoration: underline
    color: #000
    font-weight: bold
    transition: all .15s linear
    &:hover
      text-decoration: none
      background: $yellow

  .eis-date
    padding-bottom: 100px
    display: inline-block
    width: auto

  a.eis-comments-lnk
    font-size: .8em
    display: inline-block
    width: auto
    margin-left: 15px
    font-weight: 100

  h1
    font-family: $sansserif
    font-size: 3em
    line-height: 1.1
    font-weight: 300
    max-width: 80%
    color: $black
    padding: 100px 0 40px

  .eis-text 
    position: relative
    img
      max-width: 100%
    
    h1
      font-size: 2em
      padding: 50px 0 20px
      font-weight: 700
      color: $black
      text-align: inherit

    p
      // text-align: justify
      font: 1em/1.7em $sansserif
      color: #000

    blockquote
      font: italic 1.5em $sansserif
      padding: 30px
      margin: 0 0 35px
      max-width: 800px

      p
        color: #000
        line-height: 1.5
        font-style: italic
        margin: 0
        padding: 0

  p, li, ul, ol
    padding: 0 0 25px 0
    font-size: 1em
    line-height: 1.5
    color: #000
    max-width: 800px

  h2, h3, h4
    padding-bottom: 10px
    padding-top: 20px

  li
    padding: 3px 0 7px
    font-size: .9em
    margin-left: 20px

hr
  display: block
  clear: both
  margin: 10px 0 40px
  padding: 0
  border: none
  border-top: 1px solid rgba(0, 0, 0, .1)


.eis-comments
  input
    padding: 5px
    font-size: .8em
    display: inline-block
    margin: 10px 0

  #idc-container a
    box-shadow: none
    text-decoration: none

  textarea
    height: 150px
    padding: 5px
    max-width: 542px

  #comments_list
    padding: 25px 0 25px
    .comment
      padding: 25px 0
      margin: 0
      .date, .author
        padding-right: 10px
        font-size: .8em
        display: inline-block
        margin-bottom: 3px

      .likes
        padding: 30px

      blockquote
        font-size: .9em
        img
          margin-right: 10px

////
// Mobile
////
@media screen and (max-width: 700px)
  body
    padding-left: 0
    font-size: 75%


  .eis-list-post
    padding-right: 0

    a
      padding: 20px
      align-items: flex-start

  .eis-article
    padding: 0 20px

    header
      .eis-date
        padding-bottom: 40px

    .eis-text

      blockquote
        font-size: 1.2em
        padding: 15px

      h1
        padding: 30px 0 10px

      p
        padding-bottom: 20px
        font-size: 1.35em
        line-height: 1.7

  .eis-article .eis-text img.eis-avatar-about
    max-width: 400px
    position: static
