////
// Variables
////
$yellow: #f9da18
$sansserif: Open Sans, sans-serif
$serif: Times New Roman, Times, Georgia, Serif
*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-size: 100%
  font-family: $sansserif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -moz-font-feature-settings: "liga" on
  padding-left: 200px
  height: inherit

p, li
  font-size: 1em


////
// HEADER
////
#eis-header
  padding: 20px 35px

.eis-logo
  color: #000
  float: left
  text-decoration: none
  font: 700 1em $sansserif

.eis-list-post
  list-style: none
  padding: 100px 0

  a
    text-decoration: none
    font: 500 1.5em $sansserif
    color: #000
    display: block
    padding: 45px 50% 45px 35px
    border-bottom: 1px solid rgba(0, 0, 0, .09)

    h1
      display: inline
      font-size: inherit

    &:hover 

      h1
        background: $yellow 
        display: inline
        color: rgba(0, 0, 0, .7)

  .eis-date
    display: block
    font-size: .5em
    padding-top: 20px

.eis-date 
  font-weight: 400
  font-size: 1em
  color: rgba(150, 150, 150, 1)


.eis-social 
  float: right

.eis-social li
  list-style: none
  display: inline-block
  vertical-align: middle
  margin-left: 10px
  opacity: 0.8


.eis-social li:hover
  opacity: 1


.eis-social li a img,
.eis-social li a svg
  max-height: 20px


.eis-social li a svg
  max-height: 30px

////
// SINGLE
////

.eis-article
  padding-left: 35px
  padding: 0 0 200px 35px
  max-width: 800px

  a
    box-shadow: inset 0 -2px 0 $yellow
    color: #000
    font-weight: bold
    text-decoration: none
    &:hover
      background: $yellow

  .eis-date
    padding-bottom: 100px
    display: inline-block

  h1
    font-size: 3.5em
    line-height: 1.3
    font-weight: 900
    padding: 100px 0 40px

  .eis-text 
    img
      max-width: 100%
    h1
      font-size: 2.5em
      padding: 50px 0 20px
      font-weight: 700

    p
      text-align: justify
      color: rgba(0, 0, 0, .7)

    blockquote
      font: italic 1em $sansserif
      padding: 30px
      margin: 0 0 35px
      max-width: 800px

      p
        color: #000
        margin: 0
        padding: 0

  p, li, ul, ol
    padding: 0 0 35px 0
    font-size: 1.15em
    line-height: 1.8
    color: #1a1a1a
    max-width: 800px

  h2, h3, h4
    padding-bottom: 10px
    padding-top: 20px

  li
    padding: 3px 0 10px
    font-size: .9em
    margin-left: 20px

hr
  display: block
  clear: both
  margin: 10px 0 40px
  padding: 0
  border: none
  border-top: 1px solid rgba(0, 0, 0, .1)

////
// Mobile
////
@media screen and (max-width: 700px)
  body
    padding-left: 0
    font-size: 75%


  .eis-list-post

    a
      padding: 40px 20px 40px 35px

  .eis-article
    padding: 0 20px

    header
      .eis-date
        padding-bottom: 40px

    .eis-text

      blockquote
        font-size: 1.2em
        padding: 15px

      h1
        padding: 30px 0 10px

      p
        padding-bottom: 20px
        font-size: 1.35em
        line-height: 1.7