* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 100%;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  padding-left: 200px;
  height: inherit; }

p, li {
  font-size: 1em; }

#eis-header {
  padding: 20px 35px; }

.eis-logo {
  color: #000;
  text-decoration: none;
  font: 700 1em Roboto, sans-serif; }

.eis-list-post {
  list-style: none;
  padding: 100px 0; }
  .eis-list-post a {
    text-decoration: none;
    font: 500 2.5em Roboto, sans-serif;
    color: #000;
    display: block;
    padding: 70px 50% 70px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
    .eis-list-post a h1 {
      display: inline;
      font-size: inherit; }
    .eis-list-post a:hover h1 {
      background: #f9da18;
      display: inline;
      color: rgba(0, 0, 0, 0.7); }
  .eis-list-post .eis-date {
    display: block;
    font-size: .5em;
    padding-top: 20px; }

.eis-date {
  font-weight: 400;
  font-size: 1em;
  color: #969696; }

.eis-article {
  padding-left: 35px;
  padding: 0 0 200px 35px;
  max-width: 1000px; }
  .eis-article a {
    box-shadow: inset 0 -2px 0 #f9da18;
    color: #000;
    font-weight: bold;
    text-decoration: none; }
    .eis-article a:hover {
      background: #f9da18; }
  .eis-article .eis-date {
    padding-bottom: 100px;
    display: inline-block; }
  .eis-article h1 {
    font-size: 4em;
    line-height: 1;
    font-weight: 900;
    padding: 100px 0 40px; }
  .eis-article p, .eis-article li, .eis-article ul {
    padding: 0 0 35px 0;
    font-size: 1.18em;
    line-height: 1.6;
    color: #1a1a1a;
    max-width: 800px;
    list-style-position: inside; }
  .eis-article h2, .eis-article h3, .eis-article h4 {
    padding-bottom: 10px;
    padding-top: 20px; }
  .eis-article li {
    padding: 3px 0; }

@media screen and (max-width: 700px) {
  body {
    padding-left: 0;
    font-size: 80%; } }
