{{partial "head.html" . }}

<div class="eis-container">

  {{ range first 1 (where .Site.Pages "Type" "post" )}}
  <div class="eis-first-post">
    <span class="eis-date">{{ .Date.Format "January 2, 2006" }}</span>
    <h1><a href="{{.Permalink}}" data-clicked="featured-post">{{.Title}}</a></h1>
    {{partial "post-tags.html" . }}
  </div>
  {{end}}

  <section class="eis-home-container">
    <ul class="eis-list-post">
    {{ range after 1 (where .Site.Pages "Type" "post")}}
      <li>
        <a href="{{.Permalink}}" class="eis-post-lnk">
          <span class="eis-date">{{ .Date.Format "January 2, 2006" }}</span>
          <h1>{{.Title}}</h1>
        </a>
      </li>
    {{end}}
    </ul>

    <div class="eis-home-sidebar">

      <div class="eis-book-home">
        <a href="https://gestaomodernaprodutosdigitais.com/?utm_source=blog-diegoeis&utm_medium=banner&utm_campaign=book_gestao" data-click="eis-banner-book">
          <img src="/images/foto-book2.jpg" alt="Capa do meu novo livro Gestão Moderna de Produtos Digitais">
          <img src="/images/amazon-badge.png" class="eis-btn-book" alt="Botão da Amazon">
          <img src="/images/clubeautores-badge.png" class="eis-btn-book" alt="Botão da Clube de Autores">
        </a>
      </div>

     {{partial "tags-list.html" . }}
      
      {{partial "latest-readings.html" . }}
      {{partial "latest-listenings.html" . }}
    </div>

  </section>
</div>


{{partial "footer.html" . }}
