{{partial "head.html" . }}

<div class="eis-container">
{{partial "header.html" . }}


  {{ range first 1 (where .Site.Pages "Type" "post" )}}
  <div class="eis-first-post">
    <span class="eis-date">{{ .Date.Format "January 2, 2006" }}</span>

    <h1><a href="{{.Permalink}}" data-clicked="featured-post">{{.Title}}</a></h1>
    
    {{partial "post-categs.html" . }}

  </div>
  {{end}}

  <section class="eis-home-container">
    <ul class="eis-list-post">
    {{ range after 1 (where .Site.Pages "Type" "post")}}
      <li>
        <a href="{{.Permalink}}" class="eis-post-lnk" data-clicked="lnk-post-list">
          <span class="eis-date">{{ .Date.Format "January 2, 2006" }}</span>
          <h1>{{.Title}}</h1>
        </a>
      </li>
    {{end}}
    </ul>

    <div class="eis-home-sidebar">

        {{partial "revue-embed.html"}}

      <!-- <iframe src="https://diegoeis.substack.com/embed" height="250" style="width: 100%; margin-bottom: 20px; border:none; background:white;" frameborder="0" scrolling="no"></iframe> -->

      <div class="eis-book-home">
        <a href="https://gestaomodernaprodutosdigitais.com/?utm_source=blog-diegoeis&utm_medium=banner&utm_campaign=book_gestao">
          <img src="/images/foto-book2.jpg" alt="Capa do meu novo livro Gestão Moderna de Produtos Digitais" data-clicked="eis-banner-book">
          <img src="/images/amazon-badge.png" class="eis-btn-book" alt="Botão da Amazon" data-clicked="eis-banner-book">
          <img src="/images/clubeautores-badge.png" class="eis-btn-book" data-clicked="eis-banner-book" alt="Botão da Clube de Autores">
        </a>
      </div>

     {{partial "tags-list.html" . }}
      
      {{partial "latest-readings.html" . }}
      {{partial "latest-listenings.html" . }}
    </div>

  </section>
</div>


{{partial "footer.html" . }}
